<div class="container" style="margin-top: 125px;">
  <div class="row">
    
    <div class="col-12 col-md-6 col-lg-6 p-4">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/boutique.jpeg" width="500" height="500" alt="">
        <h5 class="fw-bold mt-5">Adresse</h5>
          <p>{{ infos.address }} <br> {{ infos.postalCode }} {{ infos.city }} </p>
          
          <!-- Phone Number -->
          <h5 class="fw-bold">Téléphones :</h5>
          <p><i class="bi bi-phone"></i><a style="color: #ffd700;" href="tel:{{ infos.cellularPhoneNumber }}" class="text-decoration-none"> {{ infos.cellularPhoneNumber }}</a></p>
          <p><i class="bi bi-telephone"></i><a style="color: #ffd700;" href="tel:{{ infos.phoneNumber }}" class="text-decoration-none"> {{ infos.phoneNumber }}</a></p>
      
        <!-- Map -->
        <h5 class="fw-bold">Nous trouver</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.20260625101!2d4.8275144999999995!3d45.7671297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eb466f7f64b1%3A0x8132b2934468763c!2sLe%20Roi%20Shawarma!5e0!3m2!1sen!2sfr!4v1734968736073!5m2!1sen!2sfr" 
        width="500" 
        height="500" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>


    <div class="col-12 col-md-6 col-lg-6">
      <section class="p-4 d-flex justify-content-center mb-4">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="text-center" style="width: 100%; max-width: 300px">
          <h2>Nous Contacter</h2>
      
          <!-- Name input -->
          <div class="mb-4">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nom complet" />
          </div>
      
          <!-- Email input -->
          <div class="mb-4">
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email address" />
          </div>
      
          <!-- Message input -->
          <div class="mb-4">
            <textarea formControlName="message" class="form-control" id="message" rows="5" placeholder="Message"></textarea>
          </div>
      
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary my-4">Envoyer</button>
        </form>
      
        <!-- Alert for submission status -->
        <div *ngIf="alertMessage" class="alert alert-info mt-4">
          {{ alertMessage }}
        </div>
      </section>
    </div>
  </div>
</div>
